[Unit]
Description=Create configured btrfs snapshots

[Service]
Nice=19
IOSchedulingClass=idle
KillSignal=SIGINT
ExecStart=/usr/local/bin/btrfs-snapshots create
