[Unit]
Description=btrfs-snapshots create action

[Service]
Nice=19
IOSchedulingClass=idle
KillSignal=SIGINT
ExecStart=/usr/local/bin/btrfs-snapshots create
