[Unit]
Description=Prune timestamped btrfs snapshots

[Service]
Nice=19
IOSchedulingClass=idle
KillSignal=SIGINT
ExecStart=./bin/btrfs-snapshots prune
